<header>
    <div class="banner-container">
        <div class="banner-left">
            <img src="/imgs/logo.png" alt="paracosm">
        </div>
        <div class="banner-empty"></div>

        <% if (user) { %>
        <div class="banner-right">
            <a href="/logout">Log out</a>
        </div>
        <div class="banner-portrait">
            <img src="<%= user.avatarURL %>" alt="user profile" width="100px" height="100px">
        </div>
        <% } else {%>
        <div class="banner-right">
            <a href="/auth/google">Login with Google</a>
        </div>
        <div class="banner-portrait">
        </div>
        <% } %>
    </div>
</header>