<%- include('../partials/boiler') %>
<%- include('../partials/banner') %>
<nav>
    <div>
        <a href="/forum">Main Forum</a>
    </div>
</nav>
<main>
    <div class="textbox">
        <form action="/forum" method="POST">
            <label>Subject
                <input type="text" name="topic">
            </label>
            <br>
            <textarea name="text"></textarea>
            <button type="submit">Submit Post</button>
        </form>
    </div>
</main>

<%- include('../partials/footer') %>